<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %><%= @user.last_name %></h1>
    <p>
      Thank you for your order, your order number is <% @order.id %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>